Email header issues

With the following config,

```
<global>
  <email_notification>yes</email_notification>
  <email_to>admin@example.com</email_to>
  <smtp_server>127.0.0.1</smtp_server>
  <email_from>ossecm@example.com</email_from>
</global>

<email_alerts>
  <email_to>other_admin@example.com</email_to>
  <level>12</level>
</email_alerts>
```

I got two `To` fields in the mail header like this,

```
To: admin@example.com
From: OSSEC HIDS ossecm@example.com
To: other_admin@example.com
```

Regarding RFC 5322 section 3.6, the count of `To` fields could not more than 1.
Is there any solutions?
